.imageContainer {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 900px;
  overflow-x: auto;
}

.imageDiff {
  max-width: 350px;
  max-height: 350px;
  margin: 20px;
  padding: 2px;
  background-color: bisque;
}

.container {
  display: flex;
  overflow-x: scroll; 
}

.imageDisplay {
  max-width: 350px;
}

.projectTitleText{
  font-size: 24px;
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}